{% extends "centaur/base.html" %}

{% load url from future %}

{% block title %}{{error.summary}} - {% endblock %}

{% block content %}
<div id="error-summary-header">
    <div class="error-count {% if error.level %}{{error.level|lower}}{% else %}info{% endif %}">{{error.event_count}}</div>
    <div class="error-summary-details">
        <a href="{% url 'centaur_error' error_id=error.pk %}">
            <span class="error-summary">{{error.summary}} <small>{{error.last_event|timesince}} ago</small></span>
            <span class="error-module">{{error.module_path}}thing.thing</span>
        </a>
    </div>
</div>

<div>
    <div style="clear:both;"></div>
    {% if events.has_previous %}
    <div class="previous">
        <a href="{% url 'centaur_error' error_id=error.pk %}?page={{events.previous_page_number}}">Previous Event</a>
    </div>
    {% endif %}

    {% if events.has_next %}
    <div class="next">
        <a href="{% url 'centaur_error' error_id=error.pk %}?page={{events.next_page_number}}">Next Event</a>
    </div>
    {% endif %}

    <div id="chart_div"></div>


    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

     <script type="text/javascript">
        var series = [{% for timestamp in series %}
            {{ timestamp }} * 1000{% if not forloop.last %},{% endif %}
        {% endfor %}]
        // Specify the interval to work with
        var interval = 1000 * 60 * 60; // 1 hour
        //  Work out start date and end date
        var start_date = new Date(series[0] - interval);
        var end_date = new Date(series.slice(-1)[0] + interval);

        // Add the data to the correct intervals
        var timebins = {};
        series.forEach(function(timestamp) {
            if (timestamp in timebins) {
                timebins[timestamp] += 1;
            } else {
                timebins[timestamp] = 1;
            }
        });
        var bins = [["Date", "Occurance"]];
        Object.getOwnPropertyNames(timebins).forEach(function(timestamp) {
            bins.push([new Date(parseInt(timestamp, 10)), timebins[timestamp]]);
        });


       google.load("visualization", "1", {packages:["corechart"]});
       google.setOnLoadCallback(drawChart);
       function drawChart() {
          var data = new google.visualization.arrayToDataTable(bins);

          var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
          var options = {
            // width: 100%, 
            height: 400,
            legend: 'none',
            pointSize: 5,
            hAxis: {title: 'Date'},
            vAxis: {title: 'Occurances', minValue: 0}
          };
          chart.draw(data, options);
       }
     </script>

    <div style="clear:both;"></div>
</div>


{% for event in events %}
{% if event.stack_info %}
<div class="section">
    <h2>Traceback</h2>
    <div>
    {% for frame in event.stack_info.frames %}
        <li class="frame {{ frame.type }}">
            <code>{{ frame.filename|escape }}</code> in <code>{{ frame.function|escape }}</code>

            {% if frame.context_line %}
            <div class="context" id="c{{ frame.id }}">
                {% if frame.pre_context and not is_email %}
                <ol start="{{ frame.pre_context_lineno }}" class="pre-context" id="pre{{ frame.id }}">
                    {% for line in frame.pre_context %}<li onclick="toggle('pre{{ frame.id }}', 'post{{ frame.id }}')"><pre>{{ line|escape }}</pre></li>{% endfor %}
                </ol>
                {% endif %}

                <ol start="{{ frame.lineno }}" class="context-line">
                    <li onclick="toggle('pre{{ frame.id }}', 'post{{ frame.id }}')"><pre>{{ frame.context_line|escape }}</pre>{% if not is_email %} <span>...</span>{% endif %}</li>
                </ol>

                {% if frame.post_context and not is_email  %}
                <ol start='{{ frame.lineno|add:"1" }}' class="post-context" id="post{{ frame.id }}">
                    {% for line in frame.post_context %}<li onclick="toggle('pre{{ frame.id }}', 'post{{ frame.id }}')"><pre>{{ line|escape }}</pre></li>{% endfor %}
                </ol>
                {% endif %}
            </div>
          {% endif %}

          {% if frame.vars %}
            <div class="commands">
                {% if is_email %}
                    <h2>Local Vars</h2>
                {% else %}
                    <a href="#" onclick="return varToggle(this, '{{ frame.id }}')"><span>&#x25b6;</span> Local vars</a>
                {% endif %}
            </div>
            <table class="vars" id="v{{ frame.id }}">
                <tbody>
                    {% for var in frame.vars|dictsort:"0" %}
                    <tr>
                        <th>{{ var.0|force_escape }}</th>
                        <td class="code"><pre>{{ var.1|safe }}</pre></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        </li>
    {% endfor %}
    </div>
</div>
{% endif %}

<div class="section">
    <h2>Request</h2>
    <h3>GET</h3>

    {% if event.request.GET %}
    <table class="request-repr">
        {% for k, v in event.request.GET.items %}
        <tr>
            <th>{{k}}</th>
            <td>{{v}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No GET data</p>
    {% endif %}

    <h3>POST</h3>
    {% if event.request.POST %}
    <table class="request-repr">
        {% for k, v in event.request.POST.items %}
        <tr>
            <th>{{k}}</th>
            <td>{{v}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No POST data</p>
    {% endif %}

    <h3>FILES</h3>
    {% if event.request.FILES %}
    <table class="request-repr">
        {% for k, v in event.request.FILES.items %}
        <tr>
            <th>{{k}}</th>
            <td>{{v}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No FILES data</p>
    {% endif %}

    <h3>META</h3>
    <table class="request-repr">
        {% for k, v in event.request.META.items %}
        <tr>
            <th>{{k}}</th>
            <td>{{v}}</td>
        </tr>
        {% endfor %}
    </table>

    <h3> COOKIES </h3>
    <table class="request-repr">
        {% for k, v in event.request.COOKIES.items %}
        <tr>
            <th>{{k}}</th>
            <td>{{v}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}
