{% extends "centaur/base.html" %}

{% load url from future %}

{% block content %}

<div class="search-user">
    <form method="GET">
        <input type="text" name="user" />
        <input type="submit" value="Search by email">
    </form>
</div>
    {% if errors.has_previous %}
    <div class="previous">
        <a href="{% url 'centaur_index' %}?page={{errors.previous_page_number}}">Previous Errors</a>
    </div>
    {% endif %}

    {% if errors.has_next %}
    <div class="next">
        <a href="{% url 'centaur_index' %}?page={{errors.next_page_number}}">Next Errors</a>
    </div>
    {% endif %}
    <div style="clear:both;"></div>
<table>
	{% for error in errors %}
	<tr>
		<td><div class="error-count {% if error.event_count > 100 %}error-count-small{% endif %} {% if error.level %}{{error.level|lower}}{% else %}info{% endif %}">{{error.event_count}}</div></td>
		<td>
			<a href="{% url 'centaur_error' error_id=error.pk %}">
				<span class="error-summary">{{error.summary}} <small>{{error.last_event|timesince}} ago</small></span>
				<span class="error-module">{{error.module_path}}</span>
			</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}

</html>
